*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
body{
    background-image: linear-gradient(45deg, rgb(3, 40, 3), rgb(8, 80, 8));
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
#calculadora{
    background-color: silver;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
}
#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.btn{
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: grey;
    border-radius: 10px;
    color: white; 
    margin: 3px;
}
.btn2{
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(7, 46, 131);
    border-radius: 10px;
    color: white; 
    margin: 3px;
}
.btn3{
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    color: white; 
    margin: 3px;
}
.btn4{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    color: white; 
    margin: 3px;
}
.btn0{
    grid-column: 2 span;
    width: 115px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: grey;
    border-radius: 10px;
    color: white; 
    margin: 3px;
}
.btnPlus{
    grid-row: 2 span;
    width: 50px;
    height: 112px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(7, 46, 131);
    border-radius: 10px;
    color: white; 
    margin: 3px;
}
.btn:hover{
    background-color: darkgrey;
}
.btn2:hover{
    background-color: rgb(7, 35, 97);
}
.btn3:hover{
    background-color: darkred;
}
.btn4:hover{
    background-color: darkred;
}
.btn0:hover{
    background-color: darkgrey;
}
.btnPlus:hover{
    background-color: rgb(7, 35, 97);
}
#display{
    background-color: white;
    width: 295px;
    height: 60px;
    margin: 3px;
    font-size: 50px;
    text-align: right;
    color: black;
    border-radius: 5px;
}